@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #F6F9FF;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(180deg, #00b0f5 0, #33aef8 8.33%, #51abf9 16.67%, #67a8f9 25%, #7ba4f8 33.33%, #8da1f6 41.67%, #9d9df2 50%, #ac99ed 58.33%, #b995e7 66.67%, #c591e1 75%, #d08ed9 83.33%, #d98bd0 91.67%, #e188c7 100%);
    background-position: center left;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    color: #434343;

    font-size: 16px;
}

main.cards {
    display: flex;
    padding: 32px;
}


main.cards section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: white;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    max-height: 468px;
    margin-left: 32px;
}

main.cards section.card:first-child {
    margin-left: 0;
}

main.cards section.card .icon {
    width: 64px;
    height: 64px;
}

main.cards section.card img {
    width: 100%;
    opacity: 0;
    animation: button 1s 1s forwards,
    rotateIn 2s 1s;
}

@keyframes button {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

main.cards section.card h3 {
    font-size: 100%;
    margin: 16px 0;
}

main.cards section.card span {
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
    margin-bottom: 16px;
}

main.cards section.card button {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px 0;
}


main.cards section.card.contact button {
    background: linear-gradient(to right, #34af23, #2a8f1d);
}

main.cards section.card.contact button:hover {
    background: linear-gradient(to right, #298d1c, #247c19);
}

main.cards section.card.shop button {
    background: linear-gradient(to right, #bc2a8d, #8b1e69);
}

main.cards section.card.shop button:hover {
    background: linear-gradient(to right, #a8257e, #7a1a5b);
}

main.cards section.card.about button {
    background: linear-gradient(to right, #7289da, #4e5fa3);
}

main.cards section.card.about button:hover {
    background: linear-gradient(to right, #6376bd, #404e85);
}


main.cards section.card.contact {
    box-shadow: 20px 20px 50px -30px #34af23;
    animation: bounceInDown;
    animation-duration: 1s;
}

main.cards section.card.contact:hover {
    box-shadow: none;
}

main.cards section.card.shop {
    box-shadow: 20px 20px 50px -30px #bc2a8d;
    animation: bounceInDown;
    animation-duration: 1.1s;
}

main.cards section.card.shop:hover {
    box-shadow: none;
}

main.cards section.card.about {
    box-shadow: 20px 20px 50px -30px #7289da;
    animation: bounceInDown;
    animation-duration: 1.2s;
}

main.cards section.card.about:hover {
    box-shadow: none;
}

@media screen and (max-width: 720px) {
    main.cards {
        flex-direction: column;
    }

    main.cards section.card {
        margin-left: 0;
        margin-bottom: 32px;
    }

    main.cards section.card:last-child {
        margin-bottom: 0;
    }

    main.cards section.card button {
        font-size: 70%;
    }

    span button {
        margin-bottom: 30px;
    }
}

span button {
    padding: 10px 150px;
    letter-spacing: 4px;
    border: none;
    border-radius: 8px;
    animation: bounceInDown;
    animation-duration: 2s;
    background-color: #03e9f4;
}

span button:hover {
    background: #03e9f4;

    color: #fff;
  
    border-radius: 10px;
  
    box-shadow: 0 0 5px #03e9f4,
  
                0 0 25px #03e9f4,
  
                0 0 50px #03e9f4,
  
                0 0 100px #03e9f4;
                
    cursor: pointer;
}

footer {
    position: absolute;
    display: block;
    align-self: flex-end;
    background-color: rgba(0, 0, 0, 0.438);
    text-align: center;
    width: 100%;
    color: white;
    bottom: 0;
}

footer a {
    text-decoration: none;
    color: white;
}

@media (max-width: 720px){
    footer{
        display: none;
    }
}